OVERLAY_APP_DISPLAY_NAME = dev-chat
OVERLAY_PRODUCTION_APP_NAME = dev-chat
OVERLAY_APPICON_NAME = DevAppIcon
OVERLAY_BASE_BUNDLE_IDENTIFIER = io.example.elementx.dev
OVERLAY_DEVELOPMENT_TEAM = TEAMID1234
OVERLAY_PROVISIONING_PROFILE_SPECIFIER =
OVERLAY_APS_ENVIRONMENT = development
OVERLAY_APP_GROUP_IDENTIFIER = group.io.example.elementx.dev
OVERLAY_CLASSIC_APP_GROUP_IDENTIFIER = group.io.example.elementx.dev.classic
OVERLAY_CLASSIC_APP_KEYCHAIN_SERVICE_IDENTIFIER = im.vector.app.encryption-manager-service
OVERLAY_CLASSIC_APP_KEYCHAIN_ACCESS_GROUP_IDENTIFIER = $(OVERLAY_DEVELOPMENT_TEAM).io.example.elementx.dev.classic
OVERLAY_CLASSIC_APP_DEEP_LINK_URL = element-dev://open
OVERLAY_ASSOCIATED_APPLINK_DOMAIN = example.com
OVERLAY_ASSOCIATED_WEB_CREDENTIALS_DOMAIN = example.com
